<h2>Add</h2>

<table>
    <tr>
        <th>Deal</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>mega deal</td>
        <td>2</td>
        <td>R8</td>
    </tr>
    <tr>
        <th>super deal</th>
        <th>3</th>
        <th>R10</th>
    </tr>
    <tr>
        <td>real deal</td>
        <td>5</td>
        <td>R20</td>
    </tr>
    <tr>
        <td>golden deal</td>
        <td>6</td>
        <td>R25</td>
    </tr>
    <tr>
        <td>mock deal</td>
        <td>8</td>
        <td>R30</td>
    </tr>
</table>

<input type="text" placeholder="Name of the shop" name="shop" value="shop">
<button type="submit">Add
</button>
<button type="button">Avo Deals</button>