<h2>Add</h2>

<table>
    <tr>
        <th>Deal</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>mega deal</td>
        <td>2</td>
        <td>R8</td>
    </tr>
    <tr>
        <td>super deal</td>
        <td>3</td>
        <td>R10</td>
    </tr>
    <tr>
        <td>real deal</td>
        <td>5</td>
        <td>R20</td>
    </tr>
    <tr>
        <td>golden deal</td>
        <td>6</td>
        <td>R25</td>
    </tr>
    <tr>
        <td>mock deal</td>
        <td>8</td>
        <td>R30</td>
    </tr>
</table>

<input type="text" placeholder="Name of the shop" name="shop" value="">
<button type="submit">Add
</button>
<a href="index">Avo Deals</a>