    <h1>
        AVOCADO SHOPS
    </h1>

    <p>
        Please Select the shop to collect the deal
    </p>

    <label for="shops">Choose the shop:</label>
  <select name="shops" id="shops">
    <option value="'Fruit & Veg City'">Fruit and Veg City</option>
    <option value="Tsjekkers">Tsjekkers</option>
    <option value="Shopryte">Shopryte</option>
    <option value="Pick n Play">Pick n Play</option>
    <option value="Fruit lovers">Fruit lovers</option>

  </select>
  <button type="submit"></button>

    