<h2>Top 5 Best deals</h2>


<div class="deals">
        <div class="avo-1">
            <h4>Deal 1</h4>
            <img src="https://thumbs.dreamstime.com/b/avocado-2544146.jpg">
            <p>Welcome!!</p>
            <p>3 Avos for R10</p>
            <a href="/views/selectshop.handlebars">Collect</a>
        </div>
        <div class="avo-2">
            <h4>Deal 2</h4>
            <img src="https://thumbs.dreamstime.com/b/avocado-2544146.jpg">
            <p>Welcome!!</p>
            <p>2 Avos for R8</p>
            <a href="/views/selectshop.handlebars">Collect</a>
        </div>
        <div class="avo-3">
            <h4>Deal 3</h4>
            <img src="https://thumbs.dreamstime.com/b/avocado-2544146.jpg">
            <p>Welcome!!</p>
            <p>5 Avos for R20</p>
            <a href="/views/selectshop.handlebars">Collect</a>
        </div>
        <div class="avo-4">
            <h4>Deal 4</h4>
            <img src="https://thumbs.dreamstime.com/b/avocado-2544146.jpg">
            <p>Welcome!!</p>
            <p>6 Avos for R25</p>
            <a href="/views/selectshop.handlebars">Collect</a>
        </div>
        <div class="avo-5">
            <h4>Deal 5</h4>
            <img src="https://thumbs.dreamstime.com/b/avocado-2544146.jpg">
            <p>Welcome!!</p>
            <p>8 Avos for R30</p>
            <a href="/views/selectshop.handlebars">Collect</a>
        </div>
    </div>