<div class="dropdown">
        <button class="shops" type="menu">Select Towns
        <ul class="dropdown">
          <li>
            <a href="#">Shop 1</a>
          </li>
          <li>
            <a href="#">Shop 2</a>
          </li>
          <li>
            <a href="#">Shop 3</a>
          </li>
          <li>
            <a href="#">Shop 4</a>
          </li>
          <li>
            <a href="#">Shop 5</a>
          </li>
        </ul>
        </button>
