<div class="dropdown">
        <button class="shops" type="menu">Select Towns</button>
        <ul class="dropdown">
          <li>
            <a href="/add">Fruit and Veg City</a>
          </li>
          <li>
            <a href="/add">Tsjekkers</a>
          </li>
          <li>
            <a href="/add">Shopryte</a>
          </li>
          <li>
            <a href="/add">Pick n Play</a>
          </li>
          <li>
            <a href="/add">Fruit lovers</a>
          </li>
        </ul>
        
